{% extends "base.html" %}

{% block page_content %}

<h3>Upload an image to classify as a wolf 🐺 or a Siberian husky 🐶.</h3>

<p>The model is ImageNet retrained on 872 images of wolves and Siberian huskies from Google Image Search.</p>
<p>A good source of wolf/husky pics that it's unlikely to have been trained on is <a href="https://www.kimballstock.com">Kimball Stock</a>.</p>

<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.image }}
        <button type="submit" class="btn btn-success">Make prediction</button>
    </form>
</div>

{% if image_obj %}
<img src="{{image_obj.image.url}}" alt="Your uploaded picture">
{% endif %}

{% if predicted_class %}

<p>I think this is a {{ predicted_class }}.</p>
<p>I'm {{confidence}}% sure.</p>


{% endif %}

{% endblock %}